{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}African Food San Diego{% endblock %}</title>
    {% include 'partials/head.html' %}

    <!-- Include SweetAlert2 CSS and JS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


</head>
<body>
    <!-- Navbar -->
    {% include 'partials/navbar.html' %}

    <!-- Flash Messages -->
    <div class="messages">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} message bg-white" role="alert">
                 <h4>{{ message }}</h4>   
                </div>
            {% endfor %}
        {% endif %}
    </div>

    <!-- Main Content -->
    <main role="main page-wrapper" class="container-fluid mb-7" style="background-color: hwb(40 83% 7%); border: 2px solid #8B4513; padding: 20px; border-radius: 8px;">

        {% block content %}
        {% endblock content %}


    {% include 'partials/footer.html' %}

    </main>

    <!-- Partials -->
    {% include 'partials/modals.html' %}
    
    <!-- Scripts -->
    {% include 'partials/scripts.html' %}

    {% block extra_js %}
    {% endblock %}
</body>
</html>
