<div class="dropdown-menu w-100">

  <!-- Tabs -->
  <div class="mb-2 mb-lg-0 border-bottom-lg">
    <div class="container">
      <div class="row">
        <div class="col-12">

          <!-- Nav -->
          <nav class="nav nav-tabs nav-overflow fs-xs border-bottom border-bottom-lg-0">
            <a class="nav-link text-uppercase active" data-bs-toggle="tab" href="#navTab">
              Women
            </a>
            <a class="nav-link text-uppercase" data-bs-toggle="tab" href="#navTab">
              Men
            </a>
            <a class="nav-link text-uppercase" data-bs-toggle="tab" href="#navTab">
              Kids
            </a>
          </nav>

        </div>
      </div>
    </div>
  </div>

  <!-- Tab content -->
  <div class="card card-lg">
    <div class="card-body">
      <div class="tab-content">
        <div class="tab-pane fade show active" id="navTab">
          <div class="container">
            <div class="row">
              <div class="col-6 col-md">

                <!-- Heading -->
                <div class="mb-5 fw-bold">Clothing</div>

                <!-- Links -->
                <ul class="list-styled mb-6 mb-md-0 fs-sm">
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/{% url 'shop' %}">All Clothing</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/{% url 'shop' %}">Blouses & Shirts</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/{% url 'shop' %}">Coats & Jackets</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/{% url 'shop' %}">Dresses</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/{% url 'shop' %}">Hoodies & Sweats</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/{% url 'shop' %}">Denim</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/{% url 'shop' %}">Jeans</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/{% url 'shop' %}">Jumpers & Cardigans</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/{% url 'shop' %}">Leggings</a>
                  </li>
                </ul>

              </div>
              <div class="col-6 col-md">

                <!-- Heading -->
                <div class="mb-5 fw-bold">Shoes & Boots</div>

                <!-- Links -->
                <ul class="list-styled mb-6 mb-md-0 fs-sm">
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/{% url 'shop' %}">All Shoes & Boots</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/{% url 'shop' %}">Branded Shoes</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/{% url 'shop' %}">Boots</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/{% url 'shop' %}">Heels</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/{% url 'shop' %}">Trainers</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/{% url 'shop' %}">Sandals</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/{% url 'shop' %}">Shoes</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/{% url 'shop' %}">Wide Fit Shoes</a>
                  </li>
                </ul>

              </div>
              <div class="col-6 col-md">

                <!-- Heading -->
                <div class="mb-5 fw-bold">Bags & Accessories</div>

                <!-- Links -->
                <ul class="list-styled mb-0 fs-sm">
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/{% url 'shop' %}">All Bags & Accessories</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/{% url 'shop' %}">Accessories</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/{% url 'shop' %}">Bags & Purses</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/{% url 'shop' %}">Luggage</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/{% url 'shop' %}">Belts</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/{% url 'shop' %}">Hats</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/{% url 'shop' %}">Hair Accessories</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/{% url 'shop' %}">Jewellery</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/{% url 'shop' %}">Travel Accessories</a>
                  </li>
                </ul>

              </div>
              <div class="col-6 col-md">

                <!-- Heading -->
                <div class="mb-5 fw-bold">Collections</div>

                <!-- Links -->
                <ul class="list-styled mb-0 fs-sm">
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/{% url 'shop' %}">All Collections</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/{% url 'shop' %}">Occasionwear</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/{% url 'shop' %}">Going Out</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/{% url 'shop' %}">Workwear</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/{% url 'shop' %}">Holiday Shop</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/{% url 'shop' %}">Jean Fit Guide</a>
                  </li>
                </ul>

              </div>
              <div class="col-4 d-none d-lg-block">

                <!-- Card -->
                <div class="card">

                  <!-- Image -->
                  <img class="card-img" src="{{webRoot}}/assets/img/products/product-110.jpg" alt="...">

                  <!-- Overlay -->
                  <div class="card-img-overlay bg-dark-0 bg-hover align-items-center">
                    <div class="text-center">
                      <a class="btn btn-white stretched-link" href="{{webRoot}}/{% url 'shop' %}">
                        Shop Sweaters <i class="fe fe-arrow-right ms-2"></i>
                      </a>
                    </div>
                  </div>

                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
