<div class="dropdown-menu" style="min-width: 650px;">
  <div class="card card-lg">
    <div class="card-body">
      <div class="row">
        <div class="col">

          <!-- Heading -->
          <div class="mb-5 fw-bold">Clothing</div>

          <!-- Links -->
          <ul class="list-styled mb-0 fs-sm">
            <li class="list-styled-item">
              <a class="list-styled-link" href="{{webRoot}}/{% url 'shop' %}">All Clothing</a>
            </li>
            <li class="list-styled-item">
              <a class="list-styled-link" href="{{webRoot}}/{% url 'shop' %}">Blouses & Shirts</a>
            </li>
            <li class="list-styled-item">
              <a class="list-styled-link" href="{{webRoot}}/{% url 'shop' %}">Coats & Jackets</a>
            </li>
            <li class="list-styled-item">
              <a class="list-styled-link" href="{{webRoot}}/{% url 'shop' %}">Dresses</a>
            </li>
            <li class="list-styled-item">
              <a class="list-styled-link" href="{{webRoot}}/{% url 'shop' %}">Hoodies & Sweats</a>
            </li>
            <li class="list-styled-item">
              <a class="list-styled-link" href="{{webRoot}}/{% url 'shop' %}">Denim</a>
            </li>
            <li class="list-styled-item">
              <a class="list-styled-link" href="{{webRoot}}/{% url 'shop' %}">Jeans</a>
            </li>
            <li class="list-styled-item">
              <a class="list-styled-link" href="{{webRoot}}/{% url 'shop' %}">Jumpers & Cardigans</a>
            </li>
            <li class="list-styled-item">
              <a class="list-styled-link" href="{{webRoot}}/{% url 'shop' %}">Leggings</a>
            </li>
          </ul>

        </div>
        <div class="col">

          <!-- Heading -->
          <div class="mb-5 fw-bold">Shoes & Boots</div>

          <!-- Links -->
          <ul class="list-styled mb-0 fs-sm">
            <li class="list-styled-item">
              <a class="list-styled-link" href="{{webRoot}}/{% url 'shop' %}">All Shoes & Boots</a>
            </li>
            <li class="list-styled-item">
              <a class="list-styled-link" href="{{webRoot}}/{% url 'shop' %}">Branded Shoes</a>
            </li>
            <li class="list-styled-item">
              <a class="list-styled-link" href="{{webRoot}}/{% url 'shop' %}">Boots</a>
            </li>
            <li class="list-styled-item">
              <a class="list-styled-link" href="{{webRoot}}/{% url 'shop' %}">Heels</a>
            </li>
            <li class="list-styled-item">
              <a class="list-styled-link" href="{{webRoot}}/{% url 'shop' %}">Trainers</a>
            </li>
            <li class="list-styled-item">
              <a class="list-styled-link" href="{{webRoot}}/{% url 'shop' %}">Sandals</a>
            </li>
            <li class="list-styled-item">
              <a class="list-styled-link" href="{{webRoot}}/{% url 'shop' %}">Shoes</a>
            </li>
            <li class="list-styled-item">
              <a class="list-styled-link" href="{{webRoot}}/{% url 'shop' %}">Wide Fit Shoes</a>
            </li>
          </ul>

        </div>
        <div class="col">

          <!-- Heading -->
          <div class="mb-5 fw-bold">Bags & Accessories</div>

          <!-- Links -->
          <ul class="list-styled mb-0 fs-sm">
            <li class="list-styled-item">
              <a class="list-styled-link" href="{{webRoot}}/{% url 'shop' %}">All Bags & Accessories</a>
            </li>
            <li class="list-styled-item">
              <a class="list-styled-link" href="{{webRoot}}/{% url 'shop' %}">Accessories</a>
            </li>
            <li class="list-styled-item">
              <a class="list-styled-link" href="{{webRoot}}/{% url 'shop' %}">Bags & Purses</a>
            </li>
            <li class="list-styled-item">
              <a class="list-styled-link" href="{{webRoot}}/{% url 'shop' %}">Luggage</a>
            </li>
            <li class="list-styled-item">
              <a class="list-styled-link" href="{{webRoot}}/{% url 'shop' %}">Belts</a>
            </li>
            <li class="list-styled-item">
              <a class="list-styled-link" href="{{webRoot}}/{% url 'shop' %}">Hats</a>
            </li>
            <li class="list-styled-item">
              <a class="list-styled-link" href="{{webRoot}}/{% url 'shop' %}">Hair Accessories</a>
            </li>
            <li class="list-styled-item">
              <a class="list-styled-link" href="{{webRoot}}/{% url 'shop' %}">Jewellery</a>
            </li>
            <li class="list-styled-item">
              <a class="list-styled-link" href="{{webRoot}}/{% url 'shop' %}">Travel Accessories</a>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</div>
