{% extends 'base.html' %}
{% load static %}

{% block title %}Shop Categories{% endblock %}

{% block content %} 

    <!-- BREADCRUMB -->
    <nav class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-12">

            <!-- Breadcrumb -->
            <ol class="breadcrumb mb-0 fs-xs text-gray-400">
              <li class="breadcrumb-item">
                <a class="text-gray-400" href="{% url 'home' %}">Home</a>
              </li>
              <li class="breadcrumb-item active">
                My Account
              </li>
            </ol>

          </div>
        </div>
      </div>
    </nav>

    <!-- CONTENT -->
    <section class="pt-7 pb-12">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">

            <!-- Heading -->
            <h3 class="mb-10">My Account</h3>

          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-3">

            <!-- Nav -->
            <nav class="mb-10 mb-md-0">
              <div class="list-group list-group-sm list-group-strong list-group-flush-x">
                <a class="list-group-item list-group-item-action dropend-toggle" href="{% url 'order_history' %}">
                  Orders
                </a>
                <a class="list-group-item list-group-item-action dropend-toggle" href="{% url 'account_wishlist' %}">
                  Wishlist
                </a>
                <a class="list-group-item list-group-item-action dropend-toggle active" href="{% url 'account_personal_info' %}">
                  Personal Info
                </a>
                <a class="list-group-item list-group-item-action dropend-toggle" href="{% url 'account_address' %}">
                  Addresses
                </a>
                <a class="list-group-item list-group-item-action dropend-toggle" href="#">
                  Payment Methods
                </a>
                <a class="list-group-item list-group-item-action dropend-toggle" href="{% url 'logout' %}">
                  Logout
                </a>
              </div>
            </nav>

          </div>
          <div class="col-12 col-md-9 col-lg-8 offset-lg-1">

            <!-- Form -->
            <form method="post" action="{% url 'account_update' %}">
              {% csrf_token %}
              <div class="row">
                <div class="col-12 col-md-6">

                  <!-- First Name -->
                  <div class="form-group">
                    <label class="form-label" for="accountFirstName">
                      First Name *
                    </label>
                    <input class="form-control form-control-sm" id="accountFirstName" name="first_name" type="text" placeholder="First Name *" value="{{ user.first_name }}" required>
                  </div>

                </div>
                <div class="col-12 col-md-6">

                  <!-- Last Name -->
                  <div class="form-group">
                    <label class="form-label" for="accountLastName">
                      Last Name *
                    </label>
                    <input class="form-control form-control-sm" id="accountLastName" name="last_name" type="text" placeholder="Last Name *" value="{{ user.last_name }}" required>
                  </div>

                </div>
                <div class="col-12">

                  <!-- Email -->
                  <div class="form-group">
                    <label class="form-label" for="accountEmail">
                      Email Address *
                    </label>
                    <input class="form-control form-control-sm" id="accountEmail" name="email" type="email" placeholder="Email Address *" value="{{ user.email }}" required>
                  </div>

                </div>
                <div class="col-12 col-md-12">

                  <!-- Current Password -->
                  <div class="form-group">
                    <label class="form-label" for="accountPassword">
                      Current Password *
                    </label>
                    <input class="form-control form-control-sm" id="accountPassword" name="current_password" type="password" placeholder="Current Password *" required>
                  </div>

                </div>
                <div class="col-6 col-md-6">

                  <!-- New Password -->
                  <div class="form-group">
                    <label class="form-label" for="AccountNewPassword">
                      New Password *
                    </label>
                    <input class="form-control form-control-sm" id="AccountNewPassword" name="new_password" type="password" placeholder="New Password *" required>
                  </div>

                </div>
                <div class="col-12 col-lg-6">

                  <!-- Confirm Password -->
                  <div class="form-group">
                    <label class="form-label" for="AccountNewPassword">
                      Confirm Password *
                    </label>
                    <input class="form-control form-control-sm" id="AccountNewPassword" name="new_password" type="password" placeholder="Confirm Password *" required>
                  </div>

                </div>

                <div class="col-12">

                  <!-- Button -->
                  <button class="btn btn-dark" type="submit">Save Changes</button>

                </div>
              </div>
            </form>

          </div>
        </div>
      </div>
    </section>

{% endblock %}
