{% extends 'base.html' %}
{% load static %}

{% block title %}Shop Categories{% endblock %}

{% block content %} 


    <!-- BREADCRUMB -->
    <nav class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-12">

            <!-- Breadcrumb -->
            <ol class="breadcrumb mb-0 fs-xs text-gray-400">
              <li class="breadcrumb-item">
                <a class="text-gray-400" href="{% url 'index' %}">Home</a>
              </li>
              <li class="breadcrumb-item active">
                My Account
              </li>
            </ol>

          </div>
        </div>
      </div>
    </nav>

    <!-- CONTENT -->
    <section class="pt-7 pb-12">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">

            <!-- Heading -->
            <h3 class="mb-10">My Account</h3>

          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-3">

            <!-- Nav -->
            <nav class="mb-10 mb-md-0">
              <div class="list-group list-group-sm list-group-strong list-group-flush-x">
                <a class="list-group-item list-group-item-action dropend-toggle active" href="{% url 'order_history' %}">
                  Orders
                </a>
                <a class="list-group-item list-group-item-action dropend-toggle " href="{% url 'account_personal_info' %}">
                  Personal Info
                </a>
                <a class="list-group-item list-group-item-action dropend-toggle " href="{% url 'account_address' %}">
                  Addresses
                </a>

                <a class="list-group-item list-group-item-action dropend-toggle" href="{% url 'logout' %}">
                  Logout
                </a>
              </div>
            </nav>

          </div>
          <div class="col-12 col-md-9 col-lg-8 offset-lg-1">

            {% if page_obj %}
              {% for order in page_obj %}
                <div class="card card-lg mb-5 border">
                    <div class="card-body pb-0">
                        <div class="card card-sm">
                            <div class="card-body bg-light">
                                <div class="row">
                                    <div class="col-6 col-lg-3">
                                        <h6 class="heading-xxxs text-muted">Order No:</h6>
                                        <p class="mb-lg-0 fs-sm fw-bold">{{ order.id }}</p>
                                    </div>
                                    <div class="col-6 col-lg-3">
                                        <h6 class="heading-xxxs text-muted">Shipped Date:</h6>
                                        <p class="mb-lg-0 fs-sm fw-bold">
                                            <time datetime="{{ order.date_created|date:'c' }}">
                                                {{ order.date_created|date:"d M, Y" }}
                                            </time>
                                        </p>
                                    </div>
                                    <div class="col-6 col-lg-3">
                                        <h6 class="heading-xxxs text-muted">Status:</h6>
                                        <p class="mb-0 fs-sm fw-bold">{{ order.status }}</p>
                                    </div>
                                    <div class="col-6 col-lg-3">
                                        <h6 class="heading-xxxs text-muted">Order Amount:</h6>
                                        <p class="mb-0 fs-sm fw-bold">${{ order.total_amount }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row align-items-center">
                            <div class="col-12 col-lg-6">
                                <!-- Include product images or details here if applicable -->
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="row gx-5">
                                    <div class="col-6">
                                        <a class="btn btn-sm w-100 btn-outline-dark" href="{% url 'order_detail' order.id %}">Order Details</a>
                                    </div>
                                    <div class="col-6">
                                        <!-- WhatsApp message with dynamic order details -->
                                        <a 
                                            class="btn btn-sm w-100 btn-outline-dark" 
                                            href="https://wa.me/2349077254729?text=Hello%20I%20would%20like%20to%20track%20my%20order%20(Order%20No:%20{{ order.basket_no }}).%20Order%20details:%0AStatus:%20{{ order.status }}%0AShipped%20Date:%20{{ order.date_created|date:'d M, Y' }}%0ATotal%20Amount:%20${{ order.total_amount }}" 
                                            target="_blank">
                                            Track Order
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% else %}
                <p>No orders found.</p>
            {% endif %}
        
            <!-- Pagination -->
            <!-- <nav class="d-flex justify-content-center justify-content-md-end mt-10">
              <ul class="pagination pagination-sm text-gray-400">
                <li class="page-item">
                  <a class="page-link page-link-arrow" href="#">
                    <i class="fa fa-caret-left"></i>
                  </a>
                </li>
                <li class="page-item active">
                  <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">3</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">4</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">5</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">6</a>
                </li>
                <li class="page-item">
                  <a class="page-link page-link-arrow" href="#">
                    <i class="fa fa-caret-right"></i>
                  </a>
                </li>
              </ul>
            </nav> -->
              <!-- Pagination -->
              <nav class="d-flex justify-content-center justify-content-md-end mt-10">
                <ul class="pagination pagination-sm text-gray-400">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link page-link-arrow" href="?page={{ page_obj.previous_page_number }}">
                                <i class="fa fa-caret-left"></i>
                            </a>
                        </li>
                    {% endif %}

                    {% for num in page_obj.paginator.page_range %}
                        <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                        </li>
                    {% endfor %}

                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link page-link-arrow" href="?page={{ page_obj.next_page_number }}">
                                <i class="fa fa-caret-right"></i>
                            </a>
                        </li>
                    {% endif %}
                </ul>
              </nav>

        </div>
        
        </div>
      </div>
    </section>

{% endblock %}
