{% extends 'base.html' %}
{% load static %}

{% block title %}Shop Categories{% endblock %}

{% block content %} 

    <!-- BREADCRUMB -->
    <nav class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-12">

            <!-- Breadcrumb -->
            <ol class="breadcrumb mb-0 fs-xs text-gray-400">
              <li class="breadcrumb-item">
                <a class="text-gray-400" href="{% url 'home' %}">Home</a>
              </li>
              <li class="breadcrumb-item active">
                My Account
              </li>
            </ol>

          </div>
        </div>
      </div>
    </nav>

    <!-- CONTENT -->
    <section class="pt-7 pb-12">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">

            <!-- Heading -->
            <h3 class="mb-10">My Account</h3>

          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-3">

            <!-- Nav -->
            <nav class="mb-10 mb-md-0">
              <div class="list-group list-group-sm list-group-strong list-group-flush-x">
                <a class="list-group-item list-group-item-action dropend-toggle" href="{% url 'account_orders' %}">
                  Orders
                </a>
                <a class="list-group-item list-group-item-action dropend-toggle" href="{% url 'account_wishlist' %}">
                  Wishlist
                </a>
                <a class="list-group-item list-group-item-action dropend-toggle active" href="{% url 'account_personal_info' %}">
                  Personal Info
                </a>
                <a class="list-group-item list-group-item-action dropend-toggle" href="{% url 'account_address' %}">
                  Addresses
                </a>
                <a class="list-group-item list-group-item-action dropend-toggle" href="#">
                  Payment Methods
                </a>
                <a class="list-group-item list-group-item-action dropend-toggle" href="{% url 'logout' %}">
                  Logout
                </a>
              </div>
            </nav>

          </div>
          <div class="col-12 col-md-9 col-lg-8 offset-lg-1">

            <!-- Form -->
            <form method="post" action="{% url 'account_update' %}">
              {% csrf_token %}
              <div class="row">
                <div class="col-12 col-md-6">

                  <!-- First Name -->
                  <div class="form-group">
                    <label class="form-label" for="accountFirstName">
                      First Name *
                    </label>
                    <input class="form-control form-control-sm" id="accountFirstName" name="first_name" type="text" placeholder="First Name *" value="{{ user.first_name }}" required>
                  </div>

                </div>
                <div class="col-12 col-md-6">

                  <!-- Last Name -->
                  <div class="form-group">
                    <label class="form-label" for="accountLastName">
                      Last Name *
                    </label>
                    <input class="form-control form-control-sm" id="accountLastName" name="last_name" type="text" placeholder="Last Name *" value="{{ user.last_name }}" required>
                  </div>

                </div>
                <div class="col-12">

                  <!-- Email -->
                  <div class="form-group">
                    <label class="form-label" for="accountEmail">
                      Email Address *
                    </label>
                    <input class="form-control form-control-sm" id="accountEmail" name="email" type="email" placeholder="Email Address *" value="{{ user.email }}" required>
                  </div>

                </div>
                <div class="col-12 col-md-6">

                  <!-- Current Password -->
                  <div class="form-group">
                    <label class="form-label" for="accountPassword">
                      Current Password *
                    </label>
                    <input class="form-control form-control-sm" id="accountPassword" name="current_password" type="password" placeholder="Current Password *" required>
                  </div>

                </div>
                <div class="col-12 col-md-6">

                  <!-- New Password -->
                  <div class="form-group">
                    <label class="form-label" for="AccountNewPassword">
                      New Password *
                    </label>
                    <input class="form-control form-control-sm" id="AccountNewPassword" name="new_password" type="password" placeholder="New Password *" required>
                  </div>

                </div>
                <div class="col-12 col-lg-6">

                  <!-- Birthday -->
                  <div class="form-group">

                    <!-- Label -->
                    <label class="form-label">Date of Birth</label>

                    <!-- Inputs -->
                    <div class="row gx-5">
                      <div class="col-auto">

                        <!-- Date -->
                        <label class="visually-hidden" for="accountDate">
                          Date
                        </label>
                        <select class="form-select form-select-sm" id="accountDate">
                          {% for number in number_list %}
                              <option>{{ number }}</option>
                          {% endfor %}
                      </select>
                      


                      </div>
                      <div class="col">

                        <!-- Month -->
                        <label class="visually-hidden" for="accountMonth">
                            Month
                        </label>
                        <select class="form-select form-select-sm" id="accountMonth">
                            {% for month in months %}
                                <option>{{ month }}</option>
                            {% endfor %}
                        </select>
                    
                    </div>
                    

                    </div>

                  </div>

                </div>
                <div class="col-12 col-lg-6">

                  <!-- Gender -->
                  <div class="form-group mb-8">

                    <!-- Label -->
                    <label class="form-label">Gender</label>

                    <!-- Inputs -->
                    <div>

                      <!-- Male -->
                      <input class="btn-check" type="radio" name="gender" id="male" value="Male" {% if user.gender == "Male" %}checked{% endif %}>
                      <label class="btn btn-sm btn-outline-border" for="male">Male</label>

                      <!-- Female -->
                      <input class="btn-check" type="radio" name="gender" id="female" value="Female" {% if user.gender == "Female" %}checked{% endif %}>
                      <label class="btn btn-sm btn-outline-border" for="female">Female</label>

                    </div>

                  </div>

                </div>
                <div class="col-12">

                  <!-- Button -->
                  <button class="btn btn-dark" type="submit">Save Changes</button>

                </div>
              </div>
            </form>

          </div>
        </div>
      </div>
    </section>

{% endblock %}
