{% load static %}


<!-- Newsletter: Horizontal -->
{% include 'partials/modals/modal-newsletter-horizontal.html' %}

<!-- Newsletter: Vertical -->
{% include 'partials/modals/modal-newsletter-vertical.html' %}

<!-- Password Reset -->
{% include 'partials/modals/modal-password-reset.html' %}

<!-- Search -->
{% include 'partials/modals/modal-search.html' %}

<!-- Shopping Cart -->
{% include 'partials/modals/modal-shopping-cart.html' %}

<!-- Sidebar -->
{% include 'partials/modals/modal-sidebar.html' %}

<!-- Size Chart -->
{% include 'partials/modals/modal-size-chart.html' %}

<!-- Wait List -->
{% include 'partials/modals/modal-wait-list.html' %}

<!-- Email Collection -->
{% include 'partials/modals/modal-email-collection.html' %}
